@use '../../../scss/variable' as *;

.accordion-item {
    margin-bottom: 5px;
    .accordion-header {
        font-size: 16px;
        font-weight: 600;
        background: $light-color;
        padding: 15px;
        cursor: pointer;

        span {
            float: right;

            &.down {
                img {
                    transform: rotate(180deg);
                }
            }
        }
    }

    .accordion-collapse {
        &.hide {
            display: none;
        }
    }
}