<nav class="navbar box-shadow-1 fixed-top navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand logo" href="#">{{logo}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item border-radius-25 nav-link active" href="#">Home</a>
        <a class="nav-item border-radius-25 nav-link" href="#">About Us</a>
        <a class="nav-item nav-link" href="#">Features</a>
        <a class="nav-item nav-link" href="#">Tags</a>
        <a class="nav-item nav-link" href="#">Contribute &nbsp; <i class="fab fa-github"></i></a>
      </div>
    </div>
  </div>
</nav>