<div class="filter-list-content">
    <ul class="list-inline filter-list">
        @for (item of filterListData.filterList; track $index;let i = $index;) {
        <li (click)="onFilterFn(item,i)" [class.active]="filterListActiveIndex == i" class="list-inline-item">
            {{item.title}}
        </li>
        }
    </ul>
    <!-- filter-list Grid -->
    <div class="filter-list-grid">
        <ul class="list-inline">
            @for (item of filterList; track $index) {
            <li class="list-inline-item">
                <app-card-details [data]="item" />
            </li>
            }
        </ul>
    </div>
</div>