@use '../../scss/variable' as *;

.filter-list-content {
    padding: 10px;
    .filter-list {
        li {
            margin-right: 10px;
            cursor: pointer;
            padding: 5px 10px;
            border-radius: 12px;
            background-color: $border;
            &:hover {
                color: $white-color;
                background-color: $primary-color;
            }
            &.active {
                color: $white-color;
                background-color: $primary-color;
            }
        }
    }
}