<section class="welcome-section">
    <div class="space-30"></div>
    <app-container-row>
        <div class="row">
            <div class="col">
                <div class="welcome-content-left">
                    <h6 class="title">Welcome to <span> Angular Snippets </span></h6>
                    <p class="title-desc">Welcome to Angular Snippets, an open-source platform built for the Angular
                        community to
                        collaborate, share coding challenges, and provide solutions.
                        <br />
                        Whether you're a beginner learning
                        Angular
                        or an experienced developer solving complex problems, this project is a hub to exchange
                        knowledge and
                        grow together.
                    </p>
                    <a href="https://github.com/ankitkumarsharma/angular-snippets" class="btn primary-btn">Add Your
                        Snippets +</a>
                </div>
            </div>
            <div class="col">
                <div class="welcome-content-right text-center">
                    <img width="320" src="../../../assets/img/home.png" alt="">
                </div>
            </div>
        </div>
    </app-container-row>
</section>
<app-container-row>
    <app-snippets-list />
</app-container-row>