@use '../../../scss/variable' as *;

.card-details-item {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    margin-bottom: 15px;

    &:hover {
        .hover {
            border: 2px solid $primary-color;
        }

        .name {
            color: $primary-color;
        }
    }

    .name {
        font-size: 16px;
        padding: 5px;
    }

    .card-details-item-img {
        border-radius: 6px;

        img {
            border-radius: 6px;
            width: 100%;
        }
    }
}