@use './variable' as *;
.btn{
  min-width: 130px;
  color: $white-color;
  border-radius: $border-radius-25;
  &:hover{
    background-color: $secondary-color;
    color: $white-color;
  }
  &:focus{
    outline: 0;
    box-shadow: none;
  }
}
.primary-btn{
  @extend .btn;
  background-color: $primary-color;
}
.secondary-btn{
  @extend .btn;
  background-color: $tri-color;
}
.sm-btn{
  @extend .btn;
  background-color: $primary-color;
  width: 60px;
  min-width: auto;
}
