@use './variable' as *;
.btn{
  min-width: 130px;
  color: $white-color;
  border-radius: $border-radius-25;
  &:hover{
    box-shadow: $box-shadow;
    transform: translateY(-1px);
  }
  &:focus{
    outline: 0;
    box-shadow: none;
  }
}
.btn:active,.btn:focus-visible,.btn:first-child:active{
    color: $white-color;
  }
.primary-btn{
  @extend .btn;
  background: $gradient-color;
  color: $white-color;
  &:hover{
    background: $gradient-color-2;
    color: $white-color;
  }
}
.secondary-btn{
  @extend .btn;
  background: $white-color;
  color: $primary-color;
  border: 2px solid $primary-color;
  &:hover{
    background: $primary-color;
    color: $white-color;
    border-color: $primary-color;
  }
}
.sm-btn{
  @extend .btn;
  background-color: $primary-color;
  width: 60px;
  min-width: auto;
}
