@use './variable' as *;

.ak-title {
  font-size: 18px;
  color: $primary-color;
  font-weight: 500;
}

.ak-sub-title {
  font-size: 16px;
  color: $tri-color;
  font-weight: 500;
}

.ak-para {
  font-size: 14px;
  color: $black-color;
  opacity: 0.7;
}

.ak-title-lg {
  @extend .ak-title;
  font-size: 26px;
}

.card {
  min-height: 160px;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: $border-radius-12;

  &.disabled {
    pointer-events: none;
    background-color: $white-color;

    &::after {
      background: $error-color;
    }
  }

  &:hover {
    // border-color: $primary-color;
  }
}

.error {
  font-size: 12px;
  font-style: italic;
  color: $error-color;
}

body {
  font-size: 14px;
}

.card-fill-sm {
  height: 100px;
  min-width: 100px;
  border-radius: $border-radius-25;
  margin-bottom: 15px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $primary-color;
  color: $white-color;
  font-size: 18px;
  cursor: pointer;

  &:hover {
    // background-color: $secondary-color; 
  }

  &.disabled {
    pointer-events: none;
    background-color: $white-color;

    &::after {
      background: $error-color;
    }
  }

  &:hover {
    border-color: $primary-color;
  }
}

.border-radius-25 {
  border-radius: $border-radius-25;
}

.border-radius-12 {
  border-radius: $border-radius-12;
}

.box-shadow {
  box-shadow: $box-shadow;
}

.title-color {
  background: $gradient-color;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

h1,
h2,
h3,
h4,
h5 {
  @extend .title-color;
}

.title {
  color: $dark-color;
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 20px;

  span {
    background: $gradient-color;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
}

.title-desc {
  font-size: 20px;
  color: $dark-color;
}

.tag-list {
  li {
    padding: 5px 15px;
    background-color: $light-color;
    color: $black-color;
    margin-bottom: 10px;
    @extend .border-radius-25;
  }
}