$primary-color: #D83F87;
$secondary-color: #b10355;
$tri-color: #44318D;
$base-color: #E98074;
$bg-color: #A4B3B6;
$white-color: #ffffff;
$black-color: #000000;
$border: #cccccc;

$error-color: #ff4545;
$success-color: #008000;
