$primary-color: #1976D2;
$secondary-color: #0a57a3;
$purple-color: #764ba2;
$light-color: #e7f1ff;;
$accent-color: #F28C38;
$dark-color: #424242;
$tri-color: #8BC34A;
$base-color: #E98074;
$bg-color: #A4B3B6;
$white-color: #ffffff;
$black-color: #000000;
$border: #cccccc;
$error-color: #ff4545;
$success-color: #008000;
$gradient-color: linear-gradient(to right, $primary-color, $purple-color);
$gradient-color-2: linear-gradient(to right, $secondary-color, $purple-color);
$border-radius-25: 25px;
$border-radius-12: 12px;
$box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;