$primary-color: #1976D2;
$secondary-color: #0a57a3;
$light-color: #e7f1ff;;
$accent-color: #F28C38;
$dark-color: #424242;
$tri-color: #8BC34A;
$base-color: #E98074;
$bg-color: #A4B3B6;
$white-color: #ffffff;
$black-color: #000000;
$border: #cccccc;
$error-color: #ff4545;
$success-color: #008000;
