<div class="container">
    <div class="space-30"></div>
    <div class="card">
        <div class="row">
            <div class="col-2">
                <button class="btn primary-btn" (click)="onBackFn()">Back</button>
            </div>
        </div>
        <div class="space-10"></div>
        <div class="row">
            <div class="col-6">
                <h2>
                    {{ selectedSnippet().title}}
                </h2>
            </div>
        </div>
        <p>
            {{ selectedSnippet().description}}
        </p>
        <ul class="list-inline">
            @for (tag of selectedSnippet().tags; track $index) {
            <li class="list-inline-item border-radius-25">{{tag}}</li>
            }
        </ul>
        <hr />
        <router-outlet />
    </div>
</div>