<div class="card">
    <div class="row">
        <div class="col-2">
            <button class="btn primary-btn" (click)="onBackFn()">Back</button>
        </div>
    </div>
    <div class="space-10"></div>
    <div class="row">
        <div class="col-6">
            <h2>
                {{ selectedTag().title}}
            </h2>
        </div>
    </div>
    <p>
        {{ selectedTag().description}}
    </p>
    <ul class="list-inline">
        @for (tag of selectedTag().tags; track $index) {
        <li class="list-inline-item border-radius-25">{{tag}}</li>
        }
    </ul>
    <hr />
    <ng-content />
</div>